#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {

}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.bottom {
  margin: 0;
}



header button {
  font-family: "Neucha", cursive;
  height: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  background-color: #b185a7;
}

h1 {
  font-family: "Neucha", cursive;
  font-size: 4rem;
  margin-top: 0;
  color: #5f1a37;
}

header img {
  width: 70px;
  height: 70px;
}

.project-list {
  display: flexbox;
}

.card {
  background-color: #c3a29e;
  display: inline-block;
  vertical-align: middle;
}

img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}