#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

header button {
  font-family: 'Karla', sans-serif;
  height: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.7rem;
}

h1 {
  font-family: "Neucha", cursive;
  font-size: 4rem;
}