:root {
  font-family: 'Karla', sans-serif;
  color: #04030f;
  background-color: #fff4e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

